h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading, $font-heading-fallback;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: .5rem;
  text-align: center;
}

a {
  color: $black;
}


h1 {
  font-size: 4vw;
  margin: 0 0 1rem 0;

  @media screen and (max-width: $breakpoint) {
    font-size: 2rem;
  }
}
